thumbnails/*
*.swp
*.ptw
server-notifications-django/
MISC_DATA/
labels/*
dep/
*.set
*.lock
.env
*.sublime*
celerybeat* 
picasa/adding.lock
*.log
picasa/static/*
static/*
*.jpg
*.pyc
*/migrations/*
media/*
gdrive_credentials.json
*.npy
