# NOTE: Only edit this file in the root directory
torch==1.4.0
torchvision==0.5.0 -f https://download.pytorch.org/whl/torch_stable.html
celery>=4.0.2
coloredlogs
dj-database-url
django-admin-thumbnails
django-celery-beat
django-celerybeat-status 
django-rest-framework
Django>=2.0.2
exifread
face_recognition
GPSPhoto
imageio
matplotlib
numpy
opencv-python-headless
piexif
Pillow
postgres
psycopg2-binary
redis
requests
scons
unipath
xmltodict
gunicorn
# For Twilio messages -- https://github.com/TwilioDevEd/server-notifications-django/blob/master/requirements.txt
twilio
python-dotenv
black
coverage
flake8
mock
djangorestframework-queryfields
django-cors-headers
djangorestframework-simplejwt
# NOTE: Only edit this file in the root directory
