celery>=4.0.2
coloredlogs
dj-database-url
django-admin-thumbnails
django-celery-beat
django-celerybeat-status 
django-rest-framework
Django>=2.0.2
exifread
face_recognition
GPSPhoto
imageio
matplotlib
numpy
opencv-python-headless
piexif
Pillow
postgres
psycopg2-binary
redis
scons
unipath
xmltodict
